
html, body{
    height: 100%;
}

*{
    font-size: 0;
    padding:0;
    margin: 0;
}
@font-face{
    font-family: 'fanti';
    src:url('font/fanti.ttf');
}
@font-face{
    font-family: 'mini';
    src: url('font/mini.ttf');
}

/* img{
    overflow: hidden;
} */
.first_page{
    height: 100%;
    width:100%;
    display: inline-block;
    position: relative;
    /* overflow: hidden; */
}
.first_page_title{
    margin-top: 25px;
    width: 200px;
    height: 20%;
    z-index: 10;
    position: absolute;
}
.first_page_title>p:first-child{
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-family: "fanti";
}
.first_page_title>span{
    font-size: 40px;
    top: 3px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: "fanti";
}
.first_page_title>p:nth-child(3){
    width: 100%;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 40px;
    font-family: "fanti";
}
.first_page_title>p:nth-child(4){
    width: 100%;
    font-size: 11px;
    position: absolute;
    top: 60%;
    left: 22%;
    font-family: "mini";
}
.first_page_title>p:nth-child(5){
    width: 100%;
    font-size: 11px;
    position: absolute;
    top: 73%;
    left: 22%;
    z-index: 1;
    font-family: "mini";
}
#bg{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

/* .moon{
    width: 10%;
    height: 12.25%;
    position: absolute;
    overflow: hidden;
    left: 72%;
    top: 15.3%;
    border-bottom-right-radius: 79%; 
} */
#sky{
    width: 100%;
    position: absolute;
    z-index: -2;
}
#sea{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
#cloud_left{
    width: 90%;
    top: 16%;
    left: 10%;
    position: absolute;
    animation:cloud_left 1.5s linear infinite;
}
@keyframes cloud_left{
    0%  {left: 10%;}
    50% {left: 12%;}
    100%{left: 10%;}
}
#cloud_right{
    width: 90%;
    top: 20%;
    left: 15%;
    position: absolute;
    animation: cloud_right 2.5s linear infinite;
}
@keyframes cloud_right{
    0%  {left: 15%;}
    50% {left: 13%;}
    100%{left: 15%;}
}
#front_mount{
    width: 58%;
    height: 88%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
}
#mount_cloud{
    position: absolute;
    width: 80%;
    right: 0;
    z-index: -1;
}
#little_cloud{
    position: absolute;
    width: 90%;
    top: 30%;
    left: -17%;
    z-index: 99;
    animation:little_cloud 3s linear infinite;
}

@keyframes little_cloud{
    0% {left: -17%;}
    50% {left: -15%;}
    100% {left: -17%;}
}
#little_cloud_two{
    position: absolute;
    width: 72%;
    left: -5%;
    top: 28.5%;
    z-index: 99;
    animation: little_cloud_two 3s linear infinite;
}
@keyframes little_cloud_two{
    0% {left: -5%;}
    50% {left: -7%;}
    100% {left: -5%;}
}
#monster{
    position: absolute;
    width: 30%;
    right: 5%;
    top: 60%;
    z-index: 2;
    animation:monster 2s linear infinite;
}
@keyframes monster{
    0%  {opacity: 0.99;top: 60%;}
    55% {opacity: 0.5;top: 61%;}
    100% {opacity: 0.99;top: 60%;}
}
#water_cloud_left{
    width: 37%;
    top: 77%;
    left: 58%;
    position: absolute;
    z-index: 3;
    animation:water_cloud_left 2s linear infinite;
}
@keyframes water_cloud_left{
    0%  {left: 58%;}
    50% {left: 60%;}
    100%{left: 58%;}
}
#water_cloud_right{
    width: 8%;
    top: 75%;    
    left: 55%;
    position: absolute;
    z-index: 3;
    animation:water_cloud_right 3s linear infinite;
}
@keyframes water_cloud_right{
    0%  {left: 55%;}
    50% {left: 53%;}
    100%{left: 55%;}
}
#wave_right{
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 2;
    animation:wave_right 3s linear infinite;
}
@keyframes wave_right{
    0%  {left: 0;}
    50% {left: 10px;}
    100%{left: 0;}
}
#wave_left{
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: 2;
    animation:wave_left 2s linear infinite;
}
@keyframes wave_left{
    0%  {left: 0;}
    50% {left: -10px;}
    100%{left: 0;}
}


/* 不同手机屏幕不同的自适应. */

/* 长的手机 */
@media screen and (min-height:810px){
    #little_cloud{
        top:38%;
    }
    #little_cloud_two{
        top: 36.5%;
    }
    #monster{
        top: 65%;
    }
    #cloud_right{
        top: 31%;
    }
    #cloud_left{
        top: 27%;
    }
    /* @keyframes little_cloud{
        0% {left: 37%;}
        50% {left: 35%;}
        100% {left: 37%;}
    }
    @keyframes little_cloud_two{
        0% {left: -2%;top: 51%;}
        50% {left: 1%;top: 49%;}
        100% {left: -2%;top: 51%;}
    } */
    @keyframes monster{
        0%  {opacity: 0.99;top: 65%;}
        55% {opacity: 0.5;top: 66%;}
        100% {opacity: 0.99;top: 65%;}
    }
    .first_page_title>p:nth-child(4){
        top: 50%;
    }
    .first_page_title>p:nth-child(5){
        top: 63%;
    }
}

